body {
    padding-top: 60px;
}

.table {
    font-size: 14px;
}

.sidebar li > a {
    display: block;
    color: #716b7a;
}

.sidebar li > a:hover,
.sidebar li > a:focus {
    text-decoration: none;
    background-color: #e5e3e9;
}

.nounderline {
    text-decoration: none;
}

.jumbotron {
    margin-top: 20px;
}

.loginInput {
    margin-bottom: 15px;
}

.signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin input[type="text"]:focus,
.form-signin input[type="password"]:focus {
    z-index: 2;
}

.form-signin #mailAddress {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin #pwd {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin #pwdConf {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-icons {
    vertical-align: middle;
    padding-right: 15px;
}

.profilForm {
    padding: 0 0 5px 0;
}

.profilPills {
    padding: 0 10px;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}

.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}

.progress-animated .progress-bar,
.progress-animated .bar {
    background: url(/assets/img/progressbar.gif) !important;
    filter: none;
}

.fileupload-loading {
    float: right;
    width: 32px;
    height: 32px;
    background: url(/assets/img/loading.gif) center no-repeat;
    background-size: contain;
    display: none;
}

.fileupload-processing .fileupload-loading {
    display: block;
}

.files audio,
.files video {
    max-width: 300px;
}

@media (max-width: 767px) {
    .fileupload-buttonbar .toggle,
    .files .toggle,
    .files .btn span {
        display: none;
    }

    .files .name {
        width: 80px;
        word-wrap: break-word;
    }

    .files audio,
    .files video {
        max-width: 80px;
    }
}

.text-middle {
    vertical-align: middle;
}